[Unit]
Description=Registry Webhook File Listener Service
Requires=httpd.service

[Service]
Type=simple
ExecStart=/usr/bin/go run registry-listener.go -notifications_file "notifications.txt" -repository_name "unpacked.infn.it"
WorkingDirectory=/opt/cvmfs/ducc/webhook
User=apache
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
